.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-LD{
  cursor: "pointer";
  margin-right: 12px;
}
.nav-link {
  color: var(--nav-link);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  transition: color 0.2s ease;
  position: relative;
}

.nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: var(--nav-link);
  border-radius: 2px;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--nav-link);
  border: none;
  border-radius: 7px;
  /*background-color: var(--button-hover-bg);*/
}

.nav-brand {
  font-size: 24px;
  font-weight: bold;
  color:var(--sociac-color);
  text-decoration: none;
  position: relative;
  z-index: 10;
  transition: 0.3s;
}

.nav-brand:hover {
  color: var(--title-color);
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 8px 20px var(--shadow-dark);
  min-width: 200px;
}

.nav-dropdown-link {
  display: block;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.95rem;
  transition: background-color 0.2s ease;
}

.nav-dropdown-link:hover {
  color: var(--text-color);
  background-color: var(--button-hover-bg);
}

.user-info {
  margin-bottom: 1rem;
}

.user-email {
  font-size: 0.875rem;
  color: var(--muted-text);
}

.logout-btn {
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.logout-btn:hover {
  color: var(--button-text);
  background-color: var(--button-hover-bg);
}
