@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mozilla+Text:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
}

/* Light Mode */
:root {
  --background-gradient: linear-gradient(#08a1f4, #00136a);
  --title-color: #ffffff;
  --border-color: #000;
  --container-bg: hsl(208, 100%, 97%);
  --text-color: #333;
  --card-bg: aliceblue;
  --card-border: #000;
  --button-back: #00136a;
  --button-text: white;
  --button-bg:#00136a;
  --button-hover-bg: #0040a3;
  --link-color: white;
  --footer-bg: #00136a;
  --footer-text: #ffffff;
  --footer-hover-bg: #025aac;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
}

/* Dark Mode Overrides */
[data-theme="dark"] {
  --background-gradient: linear-gradient( #38429c,#1a1f2c);
  --title-color: #ffcc00;
  --border-color: #555;
  --container-bg: #cccccc;
  --text-color: #f5f5f5;
  --card-bg: #2a2a2a;
  --card-border: #555;
  --button-bg: #444;
  --button-text: #f5f5f5;
  --button-hover-bg: #666;
  --link-color: #fffefc;
  --footer-bg: #111;
  --footer-text: #ccc;
  --footer-hover-bg: #333;
  --shadow-light: rgba(255, 255, 255, 0.05);
  --shadow-dark: rgba(255, 255, 255, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--container-bg);
  border-bottom: var(--container-bg);
  position: sticky;
  top: 0;
  z-index: 100;
}

body {
  background-image: var(--background-gradient);
  font-size: 20px;
}

.title {
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.description-container {
  position: relative;
  top: -30px;
  max-width: 1000px;
  margin: 3rem auto 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--container-bg);
}

.description-card {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  background-color: var(--container-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}
.description-card:hover {
  box-shadow: 0 2px 6px var(--shadow-light);
}

.description-card h2 {
  padding: 1rem;
  text-align: center;
}

.description-card p {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

.card {
  height: 100%;
  min-height: 200px;
  width: 300px;
  padding: 1.5rem;
  background-color: var(--card-bg);
  border: 2px solid var(--card-border);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-light);
  overflow: hidden;
  opacity: 0;
  transform: translateX(-50px);
  transition: box-shadow 0.3s ease, opacity 0.6s ease, transform 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.card h2 {
  margin-bottom: 1rem;
}

.card.visible {
  opacity: 1;
  transform: translateX(0);
}

.card:hover {
  box-shadow: 0 8px 16px var(--shadow-dark);
}

.card img {
  width: 100%;
  border-radius: 4px;
}

.card-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: var(--button-hover-bg);
}

.card a {
  color: var(--link-color);
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  padding: 1rem 2rem;
  color: var(--footer-text);
  text-align: center;
  border: none;
  background-color: var(--footer-bg);
  font-size: 0.9rem;
  margin-top: 4rem;
  transition: 0.3s;
}
.footer:hover {
  background-color: var(--footer-hover-bg);
}
